
<div class="col-md-offset-3 col-md-6">
  <button class="btn btn-default pull-left" ng-click="language='en'">EN</button><button class="btn btn-default pull-left" ng-click="language='nat'">BS</button>
  <h2>Adding editing Category</h2>
  <form >
    <fieldset ng-if="language==='nat'">
      <div class="form-group">
          <label>Name: </label>
          <input type="text" class="form-control" placeholder="Name" ng-model="editingItem.detailsBs.name">
      </div>
      <div class="form-group">
          <label>Short Description: </label>
          <input type="text" class="form-control" placeholder="Short Description" ng-model="editingItem.detailsBs.shortDesc">
      </div>
      <div class="form-group">
          <label>Long Description: </label>
          <input type="text" class="form-control" placeholder="Long Description" ng-model="editingItem.detailsBs.longDesc">
      </div>
      <div class="form-group">
          <label>Icon: </label>
          <input type="text" class="form-control" placeholder="Font awesome class" ng-model="editingItem.icon">
      </div>
    </fieldset>

    <fieldset ng-if="language==='en'">
      <div class="form-group">
          <label>Name: </label>
          <input type="text" class="form-control" placeholder="Name" ng-model="editingItem.detailsEn.name">
      </div>
      <div class="form-group">
          <label>Short Description: </label>
          <input type="text" class="form-control" placeholder="Short Description" ng-model="editingItem.detailsEn.shortDesc">
      </div>
      <div class="form-group">
          <label>Long Description: </label>
          <input type="text" class="form-control" placeholder="Long Description" ng-model="editingItem.detailsEn.longDesc">
      </div>
      <div class="form-group">
          <label>Icon: </label>
          <input type="text" class="form-control" placeholder="Font awesome class" ng-model="editingItem.icon">
      </div>
    </fieldset>
    <h1>Assign Competitions</h1>
    <select class="form-control text-center" ng-model="selectedCom._id">
        <option value="" disabled>---Choose Competition---</option>
        <option ng-repeat="com in $parent.comslight track by com._id" ng-value="com._id">{{com.detailsEn.title}}</option>
    </select>
    <button  class="btn btn-success" ng-click="assignCompetition()">Assign</button>
    <div ng-repeat="competitionId in editingItem.competitionIds track by $index">
      {{competitionId}}
      <button class="btn btn-danger" ng-click="removeCompetition($index)">Remove</button>
    </div>
  </form>




  <div class="text-right"><button  class="btn btn-success" ng-click="crud.updateItem()">Submit</button>
  <button class="btn btn-default" ng-click="crud.cancelEdit()" data-dismiss="modal">Cancel</button></div>
</div>
