<ion-view view-title="judgeguide">
  <ion-content>

    <div style="height:100%;"><nav class="judge-nav royal">
      <h4>Jury Guide</h4>
      <button class="btn-clear white" id="logout" ng-click="logout()">Log out</button>
    </nav>


    <div class="judge-body" style="padding-bottom:50px;">
        <div class="card">
          <div class="item item-divider text-center">
            Welcome to IBU Olympiads
          </div>
          <div class="item item-text-wrap">
            <p>
             Please read the instructions
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
          </div>
        </div>
    </div>
    <div class="tabs">
      <a href="#/judge/guide" class="tab-item">Guide</a>
      <a href="#judge/panel" class="tab-item">Projects</a>
    </div>

  </ion-content>
</ion-view>
