<div class="col-xs-12 col-sm-4 col-md-2 sidebar sidebar-left sidebar-open sidebar-md-show no-padding fixed">
  <div class="sidenav-top">
    <h3 class="text-center">IBU Olympiads</h1>
    <p class="text-center">Welcome to admin board</p>
  </div>
  <div ng-if="false">
    <select class="form-control text-center" ng-model="selectedCom" ng-change="logMe(selectedCom)">
        <option value="" disabled>---Choose Competition---</option>
        <option ng-repeat="com in comslight track by com._id" ng-value="com._id">{{com.detailsEn.title}}</option>
    </select>
  </div>
  <ul class="sidenav">
    <li><a ui-sref=".grades"><i class="fa fa-bar-chart" aria-hidden="true"></i> Grades</a></li>
    <li><a ui-sref=".competitions" ><i class="fa fa-trophy" aria-hidden="true"></i> Competitions</a></li>
    <li><a ui-sref=".categories"><i class="fa fa-sitemap" aria-hidden="true"></i> Categories</a></li>
    <li><a ui-sref=".criteria"><i class="fa fa-gavel" aria-hidden="true"></i> Criteria</a></li>
    <li><a ui-sref=".projects" ><i class="fa fa-database" aria-hidden="true"></i> Projects</a></li>
    <li><a ui-sref=".judges"><i class="fa fa-group" aria-hidden="true"></i> Jury</a></li>
  </ul>

  <button class="btn btn-block pos-bottom sharp-edges gray" ng-click="logout()">Log out</button>

</div>
