
<h1>Judges</h1>
<div class="text-right">
  <button class="btn btn-default" ng-click="startCategories()">Assign Categories</button>
  <button class="btn btn-warning" ng-click="distributeTokens()">Distribute Tokens</button>
  <button class="btn btn-success" ng-click="crud.startNew()">Add Judge</button>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>
        <input type="checkbox" ng-model="all.selected" ng-click="toggleAllJudges()">
      </th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>
          Access Code
        </th>
        <th>
          Token
        </th>
        <th class="text-right">Options</th>
    </thead>
    <tbody>
        <tr ng-repeat="judge in list">
            <div>
              <td>
                <input type="checkbox" ng-model="judge.selected">
              </td>
                <td>{{judge.name}}</td>
                <td>{{judge.surname}}</td>
                <td>{{judge.email}}</td>
                <td>{{judge.phone}}</td>
                <td>
                  {{judge.code}}
                </td>
                <td style="max-width:200px; word-wrap: break-word;">
                  {{judge.token}}
                </td>
                <td class="text-right">
                    <button class="btn btn-info" ng-click="crud.startEdit(judge)">Edit</button>
                    <button class="btn btn-danger" ng-click="crud.deleteItem(judge._id)">Delete</button>
                </td>
            </div>
        </tr>
      </tbody>
    </table>
  </div>
