<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <form ng-hide="true" name="up.upload_form">
                  Single Image with validations
              <input
                 type="file"
                 ngf-select
                 ng-model="up.file"
                 name="file"
                 ngf-pattern="'application/msword, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
                 accept="application/msword, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                 ngf-max-size="20MB"
                 />
              Image thumbnail: <img style="width:100px;" ngf-thumbnail="up.file || '/thumb.jpg'"/>
              <i ng-show="up.upload_form.file.$error.required">*required</i><br>
              <i ng-show="up.upload_form.file.$error.maxSize">File too large
              {{up.file.size / 1000000|number:1}}MB: max 20M</i>
              <button type="submit" ng-click="up.submit()">submit</button>
              <p>{{up.progress}}
          </form>
        <div class="crud-wrap" ng-if="crud.newActive" ng-include="'admin/views/partials/projects/newproject.html'"></div>
        <div class="crud-wrap" ng-if="crud.editActive" ng-include="'admin/views/partials/projects/editproject.html'"></div>
        <div class="crud-wrap" ng-if="crud.listActive" ng-include="'admin/views/partials/projects/listprojects.html'"></div>
      </div>
    </div>
  </div>
</div>
