<ion-view view-title="welcome">
  <ion-content>


    <div class="card">
      <div class="item item-divider text-center">
        Welcome!
      </div>
      <div class="item item-text-wrap">
        <p>
          This is the official IBU Olympiads app for easier competition management!
        </p>
        <p></p>
        <p>
          Please login as admin or as judge to access your board.
        </p>
      </div>

    </div>
    <div class="button-bar padding">
      <a href="#/admin/login"class="button button-assertive">Admin</a>
      <a href="#/judge/login"class="button button-royal">Judge</a>
    </div>

  </ion-content>
</ion-view>
